@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create new Courses Page";
    ViewData["namePage"] = "Create new Course";
    ViewBag.report = false;

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <a class="btn btn-primary" href="@Url.Action("Index", "Courses")"> Back to list Courses </a>
    </div>
</div>