@{
    ViewData["Title"] = "Home Page";
    ViewData["namePage"] = "Dashboard";
    ViewBag.report = true;

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h4> This is dashboard</h4>
    </div>
</div>


