@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model TrainingFPT.Models.CategoryDetail

@{
    ViewData["Title"] = "Category Page Update";
    ViewData["namePage"] = "Category Update";
    ViewBag.report = false;

    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5> Update Category</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="Edit">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="Name"></label>
                                <input type="text" asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                                @* id cua category *@
                                <input type="hidden" asp-for="Id" />
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Status"></label>
                                <select asp-for="Status" class="form-control">
                                    <option value="Active"> --- Active ---</option>
                                    <option value="Deactive"> --- Deactive ---</option>
                                </select>
                                <span asp-validation-for="Status"></span>
                            </div>
                        </div>
                        <div class="com-sm-12 col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="PosterImage"></label>
                                <input type="file" asp-for="PosterImage" class="form-control" />
                                <span asp-validation-for="PosterImage"></span>
                                <br/>
                                <img width="50%" src="/uploads/images/@Model.PosterNameImage" alt="@Model.Name" />
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Description"></label>
                                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                            </div>
                            <button class="btn btn-primary" type="submit"> Update </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
